body {
    scroll-behavior: smooth;
    background-image: url("./popups/road.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

#klicken {
    padding: 7px;
    position: relative;
    left: 200px;
    top: 5px;
    font-family: sans-serif;
    font-size: larger;
}

